@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background-color:slategrey; */
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

/* .custom-scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin; or auto for system default
  scrollbar-color: #262a42 #fff; thumb color and track color
  border-radius: 4px;
}

For WebKit browsers like Chrome and Safari
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 6px;
} */

.scroll-1-container {
  overflow-y: scroll;
  /* scroll-snap-type: x mandatory; */
  scroll-padding-top: 24px;
  scrollbar-width: 5px;
  scrollbar-track-color: #a82424;
}

.scroll-1::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-1::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #a82424;
}



/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  /* z-index: 1000; */
  /* scrollbar-gutter: stable both-edges; */
  /* display: none; */
}

.custom-scrollbar::-webkit-scrollbar:hover {
  /* width: 2px; */
  display: block;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(122, 172, 230);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(88, 61, 241);
  border-radius: 9px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Hide scrollbar by default */
.custom-scrollbar {
  /* scrollbar-width: thin;  */
  /* For Firefox */
  /* scrollbar-color: blue transparent;  */
  /* For Firefox */
  scrollbar-arrow-color: rgb(21, 255, 0);
  scrollbar-track-color: rgb(255, 0, 255);
  scrollbar-gutter: stable both-edges; 
}

.custom-scrollbar:hover {
  /* scrollbar-width: auto; */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
/* 
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
} */
